<!DOCTYPE html>
<html>
<head>
  <link href="styles.css" type="text/css" rel="stylesheet"/>

  <script>
    function displayDate() {
      document.getElementById("demo").innerHTML = Date();
    }    
  </script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.js"></script>

  
<title>Home</title>
</head>

<body>

<div class="container">

<h1 style="color: darkolivegreen;">SIT120 T2 2022 Task 1</h1>
<p>This is my webpage for task 1, using HTML, CSS, JS</p>

    <div class="flex-container">
        <div><h4>Frogs: I just think they're neat.</h4></div>
        <div><img src="frog1.jpg" alt="frog photo" width="100%" ></div>
        <div><img src="frog2.jpg" alt="frog photo" width="100%" ></div>
        <div><img src="frog3.jpg" alt="frog photo" width="100%" ></div>
        <div><img src="frog4.jpg" alt="frog photo" width="100%" ></div>  
        <div>
            <button onclick="displayDate()" > <img src="clock.jpg" alt="photo of clock with date and time" width="100%" >Click for the time</button>
            <p id="demo" style="font-size: 80%;"></p>
        </div>            
        <div><img src="frog5.jpg" alt="frog photo" width="100%" ></div>  
        <div><img src="frog6.jpg" alt="frog photo" width="100%" ></div>  
        <div><img src="frog7.jpg" alt="frog photo" width="100%" ></div>    
    </div>
    <div id="app">
      <!-- check the data-->
      <div
      v-for="todo in todos"
      :key="todo.title"
      :style="{ textDecoration: todo.checked? 'line-through' : 'none'}"
      >
      <input type="checkbox" v-model="todo.checked"/>
      {{ todo.title}}
      </div>

    </div>

</div>
      




</body>

</html>
<script src="./todo.js"></script>
